<h2> Create a new camper </h2>

<%= form_for @signup  do |f|  %>
<%= f.label :camper_id %>
<%= f.collection_select  :camper_id , Camper.all , :id , :name %> <br>
<%= f.label :activity_id %>
<%= f.collection_select  :activity_id , Activity.all , :id , :name %> <br>
<%= f.label :time %>
<%= f.number_field :time%><br>
<%= f.submit %>
<% end %>