<h1>
    <%= @camper.name %>
</h1>

<p>
    <%= @camper.age %>
</p>

<%= link_to "Show all campers", campers_path %> <br>
<%= link_to "Add a new camper", new_camper_path %> <br>
<%# <%= link_to "See all signups", new_camper_path %> <br> %>
<%= link_to "Create a new signup", new_signup_path%>
