<!DOCTYPE html>
<html>
  <head>
    <title>CampingFun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag("camp.jpeg", alt: "summer camp on a lake", height: 300, width: 'auto') %>
    <%= yield %>
  </body>
</html>
